body {
	/*font-family: 'Roboto', sans-serif;*/
	background-color: #ecf0f5;
}

.navbar-default .navbar-brand {
	color: #138DCE;
}

.navbar-brand>img {
	display: inline;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

	padding-right: 2px;
	padding-left: 2px;

}

.row {
    margin-left: -12px;
    margin-right: -12px;
}
*/
footer {
    background-color: #f5f5f5;
}

.row {
    margin-left: -7px;
    margin-right: -7px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 5px;
    padding-right: 5px;
}
.navbar, .alert, .panel {
	margin-bottom: 10px;
}

/* PANELS */
.ibs-panel-body {
	padding: 5px;
}
	.ibs-panel-body .media-heading {
		margin-bottom: 0;
	}
		.ibs-panel-body .media-heading a {
			text-decoration: none;
		}

		.ibs-panel-body p {
			margin-bottom: 0;
		}

		.ibs-panel-body em {
			color: #959595;
		}

		.ibs-panel-body .price, .ibs-panel-body .posted_by, .ibs-panel-body .created_at {
			color: #EA2F10;
			font-weight: bold;
		}

		.ibs-panel-body .media {
			padding: 5px;
			margin-top: 5px;
			background-color: #fafafa;
		}

		.ibs-panel-body .media:hover {
			background-color: #ffffff;
		}

.login-wrapper {

	

}